<!DOCTYPE html>
<html lang="pl">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static "dashboard/css/style.css" %}" />
  <link rel="stylesheet" href="{% static "dashboard/css/bootstrap.min.css" %}" />
  <meta charset="utf-8">
  <title> {% block title %} {% endblock title %} </title>
</head>
<body ng-app="webApp">

    {% block content %}
    <div ui-view>

    </div>
    {% endblock content %}

  <script src="{% static "dashboard/js/angular.min.js" %}"></script>
  <script src="{% static "dashboard/js/angular-resource.min.js" %}"></script>
  <script src="{% static "dashboard/js/angular-ui-router.min.js" %}"></script>
  <script src="{% static "dashboard/js/app.js" %}"></script>
  <script src="{% static "dashboard/js/controllers.js" %}"></script>
  <script src="{% static "dashboard/js/services.js" %}"></script>
  {% comment %} <script src="{% static "dashboard/js/bootstrap.min.js" %}"></script> {% endcomment %}
</body>
</html>